/* Fontes */
@font-face {
  font-family: 'MuseoSans100';
  src: url("../fonts/museosans-100/museosans-100.eot");
  src: url("../fonts/museosans-100/museosans-100.eot?#iefix") format("embedded-opentype"), url("../fonts/museosans-100/museosans-100.woff") format("woff"), url("../fonts/museosans-100/museosans-100.ttf") format("truetype"), url("../fonts/museosans-100/museosans-100.svg#MuseoSans300") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'MuseoSans300';
  src: url("../fonts/museosans-300/museosans-300.eot");
  src: url("../fonts/museosans-300/museosans-300.eot?#iefix") format("embedded-opentype"), url("../fonts/museosans-300/museosans-300.woff") format("woff"), url("../fonts/museosans-300/museosans-300.ttf") format("truetype"), url("../fonts/museosans-300/museosans-300.svg#MuseoSans300") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'MuseoSans500';
  src: url("../fonts/museosans-500/museosans-500.eot");
  src: url("../fonts/museosans-500/museosans-500.eot?#iefix") format("embedded-opentype"), url("../fonts/museosans-500/museosans-500.woff") format("woff"), url("../fonts/museosans-500/museosans-500.ttf") format("truetype"), url("../fonts/museosans-500/museosans-500.svg#MuseoSans300") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'MuseoSans700';
  src: url("../fonts/museosans-700/museosans-700.eot");
  src: url("../fonts/museosans-700/museosans-700.eot?#iefix") format("embedded-opentype"), url("../fonts/museosans-700/museosans-700.woff") format("woff"), url("../fonts/museosans-700/museosans-700.ttf") format("truetype"), url("../fonts/museosans-700/museosans-700.svg#MuseoSans300") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'MuseoSans900';
  src: url("../fonts/museosans-900/museosans-900.eot");
  src: url("../fonts/museosans-900/museosans-900.eot?#iefix") format("embedded-opentype"), url("../fonts/museosans-900/museosans-900.woff") format("woff"), url("../fonts/museosans-900/museosans-900.ttf") format("truetype"), url("../fonts/museosans-900/museosans-900.svg#MuseoSans300") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Global vars */
/* =============================
  MOBILE FIRST
============================= */
/* general */
#main {
  margin-top: 50px; }

/* hearder */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  display: block;
  background: #2d74ab; }

header h1 {
  float: left;
  font: 25px/50px "MuseoSans100", arial;
  letter-spacing: -1px;
  color: white;
  margin: 0;
  background: #2d74ab; }

header h1 a {
  color: white;
  padding: 0 10px 0 10px;
  display: inline-block;
  text-decoration: none; }

header h1 a:hover,
header h1 a:focus {
  background: #1f5177; }

header .sub {
  float: left;
  font: 14px/50px "MuseoSans500", arial;
  color: white;
  padding: 0 0 0 10px;
  border-left: 1px solid white;
  opacity: 0.5; }

/* menu */
#nav {
  display: block; }

#nav ul,
#nav ul li {
  list-style: none;
  margin: 0;
  padding: 0; }

#nav ul li {
  width: 100%;
  background: #1f5177;
  border-bottom: 1px solid #2d74ab; }

#nav ul li a {
  display: block;
  text-align: center;
  font: 16px "MuseoSans700", arial;
  color: white;
  padding: 10px 5px;
  text-decoration: none; }

/* =============================
  SMALL
============================= */
/* =============================
  INTERMEDIATE
============================= */
/* =============================
  WIDE
============================= */
