<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Igor Vieira | Brazilian Front End Developer</title>
        <meta name="description" content="Igor Frias Vieira is a Brazilian Front End Developer">

				<meta name="HandheldFriendly" content="True">
			  <meta name="MobileOptimized" content="320"/>
			  <meta name='viewport' content='width=device-width, user-scalable=0' />

			  <meta name="apple-mobile-web-app-capable" content="yes">
			  <meta name="apple-mobile-web-app-status-bar-style" content="black">

			  <meta http-equiv="cleartype" content="on">
				<meta name="format-detection" content="telephone=no"/> 
			  <meta name="format-detection" content="address=no"/>
			
				<link rel="apple-touch-icon-precomposed" href="{{ url_for('static', filename='img/apple-touch-icon-precomposed.png') }}">
			  <link rel="shortcut icon" href="{{ url_for('static', filename='img/apple-touch-icon-precomposed.png') }}">
				
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

        <!--[if lt IE 9]>
					<script src="{{ url_for('static', filename='js/html5shiv.js') }}"></script>
				<![endif]-->
    </head>
    <body>

			<header id="header">
				<div class="bg"></div>
				<h1><div>I</div><span class="a">gor</span><div>V</div><span class="b">ieira</span></h1>
				
				<div id="links">
					<div class="barra"></div>
					<div class="icons">
						<a href="https://github.com/igorfv" target="_blank" class="github"><span>Github</span></a>
						<a href="http://www.linkedin.com/in/igorvieira" target="_blank" class="linkedin"><span>Linkedin</span></a>
					</div>
				</div>
			</header>
			
			
			<div id="main">
				

				<div class="item">
					<div class="container">
						
						<div class="bar">
							<h2>iG Ajuda</h2>
							<h3><a href="http://centraldeajuda.ig.com.br" target="_blank">centraldeajuda.ig.com.br</a></h3>
							
							<p></p>
							<p>
								<strong>2013</strong><br>
								Layout: <a href="http://viniciuspellegrino.com.br" target="_blank">Vinicius Pellegrino</a><br>
							</p>
						</div>
						
						<div class="images">
							<img src="{{ url_for('static', filename='img/potifolio/ig-ajuda/image-1.png') }}" alt="Home com índice de perguntas">
							<img src="{{ url_for('static', filename='img/potifolio/ig-ajuda/image-2.png') }}" alt="Tela de resposta">
						</div>
					</div>
				</div>


				<div class="item">
					<div class="container">
						
						<div class="bar">
							<h2>Cadastro de Email iG</h2>
							<h3><a href="http://email.ig.com.br" target="_blank">email.ig.com.br</a></h3>
							
							<p>Desenvolvimento da nova tela de cadastro do iG Mail, alteração de dados e recadastramento dos clientes antigos.</p>
							<p>
								<strong>2012</strong><br>
								Layout: <a href="http://viniciuspellegrino.com.br" target="_blank">Vinicius Pellegrino</a><br>
							</p>
						</div>
						
						<div class="images">
							<img src="{{ url_for('static', filename='img/potifolio/ig-mail/image-1.png') }}" alt="Tela de cadastro">
						</div>
					</div>
				</div>

				
				<div class="item">
					<div class="container">
						
						<div class="bar">
							<h2>iG Horóscopo <span>(iPhone)</span></h2>
							<h3><a href="http://itunes.apple.com/us/app/ig-horoscopo/id552374488?mt=8" target="_blank">App Store</a></h3>
							
							<p>Para o desenvolvimento do App de Hóroscopo para iPhone foi utilizado o Titanium Studio.</p>
							<p>O aplicativo foi baseado na versão de android porém teve mais recursos adicionados e a interface melhorada.</p>
							<p>
								<strong>2012</strong><br>
								Layout: <a href="http://viniciuspellegrino.com.br" target="_blank">Vinicius Pellegrino</a><br>
								Icons: <a href="http://cassiobittencourt.com" target="_blank">Cássio Bittencourt</a>
							</p>
						</div>
						
						<div class="images">
							<img src="{{ url_for('static', filename='img/potifolio/ig-horoscopo-iphone/image-1.jpg') }}" alt="Splash scree e home do aplicativo">
							<img src="{{ url_for('static', filename='img/potifolio/ig-horoscopo-iphone/image-2.jpg') }}" alt="Horóscopo e escolha do signo">
						</div>
					</div>
				</div>
				
				
				
				
				<div class="item">
					<div class="container">
						
						<div class="bar">
							<h2>iG Horóscopo <span>(Android)</span></h2>
							<h3><a href="https://play.google.com/store/apps/details?id=br.com.ig.horoscopo" target="_blank">Google Play</a></h3>
							
							<p>Desenvolvimento do Aplicativo de Horóscopo para Android utilizando o Titanium Studio.</p>
							<p>
								<strong>2012</strong><br>
								Layout: <a href="http://murilojunqueira.com" target="_blank">Murilo Junqueira</a><br>
								Icons: <a href="http://cassiobittencourt.com" target="_blank">Cássio Bittencourt</a>
							</p>
						</div>
						
						<div class="images">
							<img src="{{ url_for('static', filename='img/potifolio/ig-horoscopo-android/image-1.png') }}" alt="Home do aplicativo e tela do horóscopo">
							<img src="{{ url_for('static', filename='img/potifolio/ig-horoscopo-android/image-2.png') }}" alt="Sobre o aplicativo e compartilhamento">
						</div>
					</div>
				</div>
				
				

				<div class="item">
					<div class="container">
						
						<div class="bar">
							<h2>iG Receitas</h2>
							<h3><a href="http://receitas.ig.com.br" target="_blank">receitas.ig.com.br</a></h3>

							<p>Desenvolvimento do portal de receitas do iG utilizando o CMS interno.</p>

							<p>
								<strong>2011</strong><br>
								Other developer: <a href="https://www.facebook.com/wjsantos.wj" target="_blank">Wellingtion Santos</a>
								Layout: <a href="http://andrevisockis.net/iG-Receitas" target="_blank">André Visockis</a>
							</p>
						</div>
						
						<div class="images">
							<img src="{{ url_for('static', filename='img/potifolio/ig-receitas/image-1.png') }}" alt="Cabeçalho da página">
							<img src="{{ url_for('static', filename='img/potifolio/ig-receitas/image-2.png') }}" alt="Vídeo com entrevista do Demi sobre iPv6">
							<img src="{{ url_for('static', filename='img/potifolio/ig-receitas/image-3.png') }}" alt="Telas do iPv6 Mobile">
						</div>
					</div>
				</div>

				
				
				<div class="item">
					<div class="container">
						
						<div class="bar">
							<h2>iPv6</h2>
							<h3><a href="#" target="_blank" class="off">ipv6.com.br</a></h3>
							
							<p>Desenvolvimento do site sobre a adequação do iG ao lançamento do iPv6 no Brasil.</p>
							<p>O site foi desenvolvido utilizando a técnica do <a href="http://pt.wikipedia.org/wiki/Paralaxe" target="_blank" class="info">Parallax</a> para criar o efeito de pacotes se movendo enquanto o usuário sobe ou desce na página.</p>
							<p>
								<strong>2011</strong><br>
								Layout: <a href="http://viniciuspellegrino.com.br" target="_blank">Vinicius Pellegrino</a>
							</p>
						</div>
						
						<div class="images">
							<img src="{{ url_for('static', filename='img/potifolio/ig-ipv6/image-1.jpg') }}" alt="Cabeçalho da página">
							<img src="{{ url_for('static', filename='img/potifolio/ig-ipv6/image-2.jpg') }}" alt="Vídeo com entrevista do Demi sobre iPv6">
							<img src="{{ url_for('static', filename='img/potifolio/ig-ipv6/image-3.jpg') }}" alt="Telas do iPv6 Mobile">
						</div>
					</div>
				</div>
				
				
				
				
			</div>


        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ url_for('static', filename='js/jquery.min.js') }}"><\/script>')</script>
				<script src="{{ url_for('static', filename='js/main.js') }}" type="text/javascript" charset="utf-8"></script>


        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script type="text/javascript">

				  var _gaq = _gaq || [];
				  _gaq.push(['_setAccount', 'UA-2585174-4']);
				  _gaq.push(['_setDomainName', 'igorvieira.com.br']);
				  _gaq.push(['_trackPageview']);

				  (function() {
				    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
				  })();

				</script>
    </body>
</html>
