/* Fontes */

@font-face {
    font-family: 'MuseoSans100'; 
    src: url('../fonts/museosans-100/museosans-100.eot');
    src: url('../fonts/museosans-100/museosans-100.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosans-100/museosans-100.woff') format('woff'),
         url('../fonts/museosans-100/museosans-100.ttf') format('truetype'),
         url('../fonts/museosans-100/museosans-100.svg#MuseoSans300') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSans300'; 
    src: url('../fonts/museosans-300/museosans-300.eot');
    src: url('../fonts/museosans-300/museosans-300.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosans-300/museosans-300.woff') format('woff'),
         url('../fonts/museosans-300/museosans-300.ttf') format('truetype'),
         url('../fonts/museosans-300/museosans-300.svg#MuseoSans300') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSans500'; 
    src: url('../fonts/museosans-500/museosans-500.eot');
    src: url('../fonts/museosans-500/museosans-500.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosans-500/museosans-500.woff') format('woff'),
         url('../fonts/museosans-500/museosans-500.ttf') format('truetype'),
         url('../fonts/museosans-500/museosans-500.svg#MuseoSans300') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSans700'; 
    src: url('../fonts/museosans-700/museosans-700.eot');
    src: url('../fonts/museosans-700/museosans-700.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosans-700/museosans-700.woff') format('woff'),
         url('../fonts/museosans-700/museosans-700.ttf') format('truetype'),
         url('../fonts/museosans-700/museosans-700.svg#MuseoSans300') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSans900'; 
    src: url('../fonts/museosans-900/museosans-900.eot');
    src: url('../fonts/museosans-900/museosans-900.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosans-900/museosans-900.woff') format('woff'),
         url('../fonts/museosans-900/museosans-900.ttf') format('truetype'),
         url('../fonts/museosans-900/museosans-900.svg#MuseoSans300') format('svg');
    font-weight: normal;
    font-style: normal;
}


