/* Fontes */
@font-face {
  font-family: 'MuseoSans100'; 
  src: url('../fonts/museosans-100/museosans-100.eot');
  src: url('../fonts/museosans-100/museosans-100.eot?#iefix') format('embedded-opentype'),
  url('../fonts/museosans-100/museosans-100.woff') format('woff'),
  url('../fonts/museosans-100/museosans-100.ttf') format('truetype'),
  url('../fonts/museosans-100/museosans-100.svg#MuseoSans300') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSans300'; 
  src: url('../fonts/museosans-300/museosans-300.eot');
  src: url('../fonts/museosans-300/museosans-300.eot?#iefix') format('embedded-opentype'),
  url('../fonts/museosans-300/museosans-300.woff') format('woff'),
  url('../fonts/museosans-300/museosans-300.ttf') format('truetype'),
  url('../fonts/museosans-300/museosans-300.svg#MuseoSans300') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSans500'; 
  src: url('../fonts/museosans-500/museosans-500.eot');
  src: url('../fonts/museosans-500/museosans-500.eot?#iefix') format('embedded-opentype'),
  url('../fonts/museosans-500/museosans-500.woff') format('woff'),
  url('../fonts/museosans-500/museosans-500.ttf') format('truetype'),
  url('../fonts/museosans-500/museosans-500.svg#MuseoSans300') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSans700'; 
  src: url('../fonts/museosans-700/museosans-700.eot');
  src: url('../fonts/museosans-700/museosans-700.eot?#iefix') format('embedded-opentype'),
  url('../fonts/museosans-700/museosans-700.woff') format('woff'),
  url('../fonts/museosans-700/museosans-700.ttf') format('truetype'),
  url('../fonts/museosans-700/museosans-700.svg#MuseoSans300') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSans900'; 
  src: url('../fonts/museosans-900/museosans-900.eot');
  src: url('../fonts/museosans-900/museosans-900.eot?#iefix') format('embedded-opentype'),
  url('../fonts/museosans-900/museosans-900.woff') format('woff'),
  url('../fonts/museosans-900/museosans-900.ttf') format('truetype'),
  url('../fonts/museosans-900/museosans-900.svg#MuseoSans300') format('svg');
  font-weight: normal;
  font-style: normal;
}


/* Global vars */
$maincolor : #2d74ab;
$secundarycolor : #1f5177;
$lightcolor : #FFF;
$darkcolor : #00628B;

$topheight : 50px;

$museo100 : "MuseoSans100", arial;
$museo300 : "MuseoSans300", arial;
$museo500 : "MuseoSans500", arial;
$museo700 : "MuseoSans700", arial;
$museo900 : "MuseoSans900", arial;


/* =============================
  MOBILE FIRST
============================= */

/* general */
#main { margin-top: $topheight;
}

/* hearder */
header {
  position:fixed;
  top:0;
  left:0;
  width: 100%;
  height: $topheight;
  display:block;
  background:$maincolor;
}
header h1 {
  float: left;
  font:25px/#{$topheight} $museo100;
  letter-spacing:-1px;
  color: $lightcolor;
  margin:0;
  background:$maincolor;
}
header h1 a {
  color: $lightcolor;
  padding: 0 10px 0 10px;
  display:inline-block;
  text-decoration:none;
}
header h1 a:hover,
header h1 a:focus {
  background: $secundarycolor;
}
header .sub {
  float: left;
  font: 14px/#{$topheight} $museo500;
  color: $lightcolor;
  padding: 0 0 0 10px;
  border-left:1px solid $lightcolor;
  opacity:0.5;
}


/* menu */
#nav {
  display: block;
}
#nav ul,
#nav ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}
#nav ul li {
  width: 100%;
  background: $secundarycolor;
  border-bottom: 1px solid $maincolor;
}
#nav ul li a {
  display: block;
  text-align: center;
  font:16px $museo700;
  color:$lightcolor;
  padding: 10px 5px;
  text-decoration: none;
}









/* =============================
  SMALL
============================= */

@media only screen and (min-width: 480px) {

}


/* =============================
  INTERMEDIATE
============================= */

@media only screen and (min-width: 768px) {

}


/* =============================
  WIDE
============================= */

@media only screen and (min-width: 1140px) {

}